/*typography*/

:root {
    --font-main: Arial;

    --text-small: 12px;
    --text-body: 14px;
    --text-title: 20px;
    --text-display: 40px;

    --color-Button: #e8222f;
    --color-text: #263553;
    --color-surface: #ffffff;

    --radius-Panel: 50px;
    --radius-Button: 150px;
}
