/*typography*/

:root {
    --font-main: Arial, "Helvetica Neue", Helvetica, Tahoma, "Segoe UI", sans-serif;

    --text-small: 12px;
    --text-body: 14px;
    --text-title: 20px;
    --text-display: 40px;

    --color-primary: #ff6d00;
    --color-secondary: #c5c5c5;
    --color-text: #001751;
    --color-surface: #ffffff;

    --radius-Panel: 50px;
    --radius-Button: 150px;
}
